body {
    margin: 0px;
    padding: 0px;
    font-family: ReithSans, Arial, Helvetica, freesans, sans-serif;
}

:root {
    --topbar-font-size: 13px;
    --page-width: 1240px;
    --middlebar-bgcolor: #BB1919;
    --lowerbar-bgcolor: #8B1010;
}

.no-border {
    border: none !important;
}

.large-right-padding {
    padding-right: 104px !important;
}

.topbar {
    width: var(--page-width);
    height: 40px;
    margin: 0 auto;
    background-color: white;
}

.logo {
    margin-top: 6px;
    margin-left: 0px;
    margin-right: 6px;
    float: left;
}

.topbar-section {
    float: left;
    border-right: 1px solid #CCCCCC;
    height: 100%;
    font-size: var(--topbar-font-size);
    font-weight: bold;
}

.signin-img {
    margin: 8px 12px auto 12px;
    float: left;
}

.signin-text {
    position: relative;
    top: 11px;

}

.topbar-menu {
    padding: 11px 15.5px 0 16px;
    /* controls the height of the border */
    height: 28px;
}

.search-box {
    background-color: #e4e4e4;
    font-weight: bold;
    padding: 4.5px;
    margin: 6px 0px 6px 16px;
}




.magnifying-glass {
    position: relative;
    top: 8px;
    right: 4px;
}

.clearfix {
    clear: both;
}

.middlebar-wrapper {
    height: 60px;
    background-color: #BB1919;
}

.middlebar {
    height: 60px;
    background-color: var(--middlebar-bgcolor);
    width: var(--page-width);
    margin: 0 auto;
}

.welcome-text {
    float: left;
    color: white;
    font-size: 1.3em;
    font-weight: bold;
    padding-left: 5px;
    margin-top: 20px;
}

.local-news {
    float: right;
    border: 1px lightcoral solid;
    background-color: var(--middlebar-bgcolor);
    color: white;
    padding: 2px 40px 2px 10px;
    margin: 17px 3px 11px 0px;
    font-size: 20px;
}

.local-news a {
    text-decoration: none;
    color: white;
}

.local-news a:hover {
    text-decoration: underline;
}

.lowerbar-wrapper {
    height: 38px;
    background-color: var(--lowerbar-bgcolor);
    margin: 0;
    padding: 0;
}

.lowerbar {
    background-color: var(--lowerbar-bgcolor);
    height: 35px;
    width: var(--page-width);
    margin: 0 auto 0 165px;
    padding: 0;
}

.lowerbar__item {
    float: left;
    color: white;
    padding: 10px 0px;
    font-weight: bold;
}

.lowerbar__item:first {
    padding-left: 0px;
    margin-left: 0px;
}


.lowerbar__item a {
    text-decoration: none;
    color: white;
    border-right: 1px lightcoral solid;
    padding-right: 15px;
    padding-left: 15px;
}

.lowerbar__item a:hover {
    text-decoration: underline;
}

.content-wrapper {
    background-color: lightblue;
    width: var(--page-width);
    margin: 0 auto;
    padding: 0;
    height: 500px;
}

.content-wrapper__headline--menu {
    margin: 0;
    padding-top: 5px;
}

.content-wrapper__headline--main {
    font-size: 230%;
}

.media {
    float: left;
    width: 58%;
    background-color: lightcoral;
}

.movies {
    float: right;
    width: 38%;
    background-color: lightseagreen;
}

.media__body {
    float: left;
    width: 40%;
    font-size: 1.1em;
    line-height: 1.3em; 
    margin-right: 5px;
}

.media__img {
    float: right;
    width: 57%;
}