body {
    margin: 0px;
    padding: 0px;
    font-family: ReithSans, Arial, Helvetica, freesans, sans-serif;    
}

:root {
    --topbar-font-size: 13px;
    --page-width: 1240px;
}

.topbar {
    width: var(--page-width);
    height: 40px;
    margin: 0 auto;
    background-color: white;
}

.logo {
    margin-top: 6px;
    margin-left: 0px;
    margin-right: 6px;
    float: left;
}

.topbar-section {
    float: left;
    border-right: 1px solid #CCCCCC;
    height: 100%;
    font-size: var(--topbar-font-size);
    font-weight: bold;
}

.signin-img {
    margin: 8px 12px auto 12px;
    float: left;
}

.signin-text {
    position: relative;
    top: 11px;
    margin-right: 100px;
}

.topbar-menu {
    padding: 11px 16px 0 16px;
    /* controls the height of the border */
    height: 28px;
}

.search-box {
    background-color: #e4e4e4;
    border: none;   
    font-weight: bold;
    padding: 4.5px;
    margin: 6px 0px 6px 16px;
}

body>div.topbar>div:nth-child(11) {
    padding-right: 104px;
}

body>div.topbar>div:last-of-type {
    border: none;
}

.magnifying-glass {
    position: relative;
    top: 8px;
    right: 4px;
}

.middlebar {
    height: 60px;
    background-color: aqua;
    width: var(--page-width);
    margin: 0 auto;
}