body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.nav-bar {
    background-color: red;
    padding-left: 12%;
    padding-right: 12%;
    height: 50px;
    text-align: center;
}

.logo {
    margin: 0px;
    margin-top: 6px;
    padding:0px;
    float: left;
    background-color: grey;
    width: 96px;
    
}

.logo-list {
    margin: 0px;
    padding:0px;
    float: left;
    background-color: pink;
   
   
}

.logo-list_item {
    float: left;
    display: block;
    color: white;
    background-color: black;
    border: 2px solid white;
    padding:0px;
    padding-bottom:6px;
    width: 28px;
    height: 28px; 
    font-size: 2em;
}

.sign-in {
    float: left;
    width: 17%;
    background-color: brown;
}

.primary-nav {
    float: left;
    background-color: green;
    width: 50%;
}

.primary-nav-list {
    float: left;
    background-color: yellow;
}

.primary-nav-list_link {
    display: block;
    float: left;
}

.search-div {
    float: right;
    background-color: blue;
}

#search-input {
    background-color: skyblue;
}