body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.nav-bar {
    background-color: red;
    padding-left: 12%;
    padding-right: 12%;
    height: 50px;
    text-align: center;
}

.logo {
    margin: 0px;
    margin-top: 6px;
    padding:0px;
    float: left;
    background-color: grey;
    width: 96px;
    
}

.logo-list {
    margin: 0px;
    padding:0px;
    float: left;
    background-color: pink;
   
   
}

.logo-list_item {
    float: left;
    display: block;
    color: white;
    background-color: black;
    border: 2px solid white;
    padding:0px;
    padding-bottom:6px;
    width: 28px;
    height: 28px; 
    font-size: 2em;
}

.sign-in {
    float: left;
    width: 17%;
    background-color: white;
    
}

.sign-in_text {
    background-color: pink;
    font-size: 1.2em;    
    font-weight: 400;
    margin: 14px auto;
}

.primary-nav {
    float: left;
    background-color: green;
    width: 54%;
}

.primary-nav-list {
    float: left;
    width:100%;
    background-color: yellow;
    padding:0px;
    margin:0px;
    
    /* margin: 14px auto; */
}

.primary-nav-list_link {
    display: block;
    float: left;
    background-color: blueviolet;
    border-left: 1px solid white;
    border-right: 1px solid white;
    font-size: 1.2em;    
    font-weight: 400;
    padding:14px 12px;
}
.primary-nav-list_link:first-of-type {
    width: 50px;
    text-align: left
}
.primary-nav-list_link:last-of-type {
    width: 183px;
    text-align: left
}

.search-div {
    float: right;
    background-color: blue;
    text-align: left;
    padding: 0px;
    padding-left: 8px;
    margin:0px;
    margin-right:69.5px;
}

#search-input {
    
    background-color: skyblue;
    height: 26px;
    width: 130%;
    margin: 12px 0px;
    border: none;
}